In [1]:
pwd

'C:\\Users\\Admin\\Downloads'

# Predicting the disease using various supervised learning algorithms

# Logistic Rgeression

In [83]:
import pandas as pd 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LogisticRegression

In [84]:
df = pd.read_csv("kidney_disease.csv")

# take a look at the dataset
df.head(10)

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd
5,5,60.0,90.0,1.015,3.0,0.0,NaN,NaN,notpresent,notpresent,...,39,7800,4.4,yes,yes,no,good,yes,no,ckd
6,6,68.0,70.0,1.010,0.0,0.0,NaN,normal,notpresent,notpresent,...,36,NaN,NaN,no,no,no,good,no,no,ckd
7,7,24.0,NaN,1.015,2.0,4.0,normal,abnormal,notpresent,notpresent,...,44,6900,5,no,yes,no,good,yes,no,ckd
8,8,52.0,100.0,1.015,3.0,0.0,normal,abnormal,present,notpresent,...,33,9600,4.0,yes,yes,no,good,no,yes,ckd
9,9,53.0,90.0,1.020,2.0,0.0,abnormal,abnormal,present,notpresent,...,29,12100,3.7,yes,yes,no,poor,no,yes,ckd

In [85]:
df.isnull().sum()

id                  0
age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc               152
pc                 65
pcc                 4
ba                  4
bgr                44
bu                 19
sc                 17
sod                87
pot                88
hemo               52
pcv                70
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

In [95]:
df["classification"] = df["classification"].replace("ckd\t", "ckd")

In [96]:
df["classification"].value_counts()

ckd       250
notckd    150
Name: classification, dtype: int64

In [97]:

df["bp"] = df["bp"].fillna(df["bp"].mean())

In [98]:
df["age"] = df["age"].fillna(df["age"].mean())

In [99]:
df["sg"] = df["sg"].fillna(df["sg"].mean())

In [100]:
df["al"] = df["al"].fillna(df["al"].mean())

In [101]:
df["su"] = df["su"].fillna(df["su"].mean())

In [102]:
df["bgr"] = df["bgr"].fillna(df["bgr"].mean())

In [103]:
df["bu"] = df["bu"].fillna(df["bu"].mean())

In [104]:
df["sc"] = df["sc"].fillna(df["sc"].mean())

In [105]:
df["sod"] = df["sod"].fillna(df["sod"].mean())

In [106]:
df["pot"] = df["pot"].fillna(df["pot"].mean())

In [107]:
df["hemo"] = df["hemo"].fillna(df["hemo"].mean())

In [144]:
df.isnull().sum()

id                0
age               0
bp                0
sg                0
al                0
su                0
rbc               0
pc                0
pcc               0
ba                0
bgr               0
bu                0
sc                0
sod               0
pot               0
hemo              0
pcv               0
wc                0
rc                0
htn               0
dm                0
cad               0
appet             0
pe                0
ane               0
classification    0
dtype: int64

In [109]:
df.dtypes

id                  int64
age               float64
bp                float64
sg                float64
al                float64
su                float64
rbc                object
pc                 object
pcc                object
ba                 object
bgr               float64
bu                float64
sc                float64
sod               float64
pot               float64
hemo              float64
pcv                object
wc                 object
rc                 object
htn                object
dm                 object
cad                object
appet              object
pe                 object
ane                object
classification     object
dtype: object

In [110]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
df['rbc'] = labelencoder.fit_transform(df['rbc'])
df['pc'] = labelencoder.fit_transform(df['pc'])
df['pcc'] = labelencoder.fit_transform(df['pcc'])
df['ba'] = labelencoder.fit_transform(df['ba'])
df['pcv'] = labelencoder.fit_transform(df['pcv'])
df['wc'] = labelencoder.fit_transform(df['wc'])
df['rc'] = labelencoder.fit_transform(df['rc'])
df['htn'] = labelencoder.fit_transform(df['htn'])
df['dm'] = labelencoder.fit_transform(df['dm'])
df['cad'] = labelencoder.fit_transform(df['cad'])
df['appet'] = labelencoder.fit_transform(df['appet'])
df['pe'] = labelencoder.fit_transform(df['pe'])
df['ane'] = labelencoder.fit_transform(df['ane'])
df['classification'] = labelencoder.fit_transform(df['classification'])
df

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,2,1,0,0,...,32,72,34,1,4,1,0,0,0,0
1,1,7.0,50.0,1.020,4.0,0.0,2,1,0,0,...,26,56,49,0,3,1,0,0,0,0
2,2,62.0,80.0,1.010,2.0,3.0,1,1,0,0,...,19,70,49,0,4,1,1,0,1,0
3,3,48.0,70.0,1.005,4.0,0.0,1,0,1,0,...,20,62,19,1,3,1,1,1,1,0
4,4,51.0,80.0,1.010,2.0,0.0,1,1,0,0,...,23,68,27,0,3,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55.0,80.0,1.020,0.0,0.0,1,1,0,0,...,35,62,30,0,3,1,0,0,0,1
396,396,42.0,70.0,1.025,0.0,0.0,1,1,0,0,...,42,72,44,0,3,1,0,0,0,1
397,397,12.0,80.0,1.020,0.0,0.0,1,1,0,0,...,37,61,36,0,3,1,0,0,0,1
398,398,17.0,60.0,1.025,0.0,0.0,1,1,0,0,...,39,67,41,0,3,1,0,0,0,1
399,399,58.0,80.0,1.025,0.0,0.0,1,1,0,0,...,41,63,43,0,3,1,0,0,0,1

In [111]:
X = df[["age","bp","sg","al","su","rbc","pc","pcc","ba","bgr","bu","sc","sod","pot","hemo","pcv","wc","rc","htn","dm","cad","appet","pe","ane"]]
y = df["classification"]
print(X)
print(y)

      age    bp     sg   al   su  rbc  pc  pcc  ba         bgr  ...  hemo  \
0    48.0  80.0  1.020  1.0  0.0    2   1    0   0  121.000000  ...  15.4
1     7.0  50.0  1.020  4.0  0.0    2   1    0   0  148.036517  ...  11.3
2    62.0  80.0  1.010  2.0  3.0    1   1    0   0  423.000000  ...   9.6
3    48.0  70.0  1.005  4.0  0.0    1   0    1   0  117.000000  ...  11.2
4    51.0  80.0  1.010  2.0  0.0    1   1    0   0  106.000000  ...  11.6
..    ...   ...    ...  ...  ...  ...  ..  ...  ..         ...  ...   ...
395  55.0  80.0  1.020  0.0  0.0    1   1    0   0  140.000000  ...  15.7
396  42.0  70.0  1.025  0.0  0.0    1   1    0   0   75.000000  ...  16.5
397  12.0  80.0  1.020  0.0  0.0    1   1    0   0  100.000000  ...  15.8
398  17.0  60.0  1.025  0.0  0.0    1   1    0   0  114.000000  ...  14.2
399  58.0  80.0  1.025  0.0  0.0    1   1    0   0  131.000000  ...  15.8

     pcv  wc  rc  htn  dm  cad  appet  pe  ane
0     32  72  34    1   4    1      0   0    0
1     26  56  49    0   3    1      0   0    0
2     19  70  49    0   4    1      1   0    1
3     20  62  19    1   3    1      1   1    1
4     23  68  27    0   3    1      0   0    0
..   ...  ..  ..  ...  ..  ...    ...  ..  ...
395   35  62  30    0   3    1      0   0    0
396   42  72  44    0   3    1      0   0    0
397   37  61  36    0   3    1      0   0    0
398   39  67  41    0   3    1      0   0    0
399   41  63  43    0   3    1      0   0    0

[400 rows x 24 columns]
0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    1
399    1
Name: classification, Length: 400, dtype: int32

In [112]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=0)

In [113]:
logistic_regression= LogisticRegression()

In [114]:
logistic_regression.fit(X_train,y_train)

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [115]:
y_pred=logistic_regression.predict(X_test)
y_pred

array([0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1])

In [162]:
from sklearn.metrics import accuracy_score

print('accuracy of the model:', accuracy_score(y_test, y_pred)*100)

accuracy of the model: 98.0

In [117]:
from sklearn import metrics
cnf_matrix = metrics.confusion_matrix(y_test, y_pred)
print(cnf_matrix)

[[61  1]
 [ 1 37]]

# KNN

In [118]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=7) 
# Train the model using the training sets 
model.fit(X,y)

KNeighborsClassifier(n_neighbors=7)

In [145]:
y1_pred= model.predict(X_test)

In [147]:
from sklearn.metrics import accuracy_score

acc = accuracy_score(y_test,y1_pred)
acc

0.96

In [149]:
from sklearn import metrics
cnf_matrix = metrics.confusion_matrix(y_test, y1_pred)
print(cnf_matrix)

[[61  1]
 [ 3 35]]

# SVM

In [150]:
from sklearn.model_selection import train_test_split 
X1_train, X1_test, y1_train, y1_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [151]:
from sklearn import svm
#Step-5 : Building SVM Model
# Create SVM classifer object 
clf = svm.SVC() # Linear Kernel
#Linear Kernel A linear kernel can be used as normal dot product any two given observations. 
#The product between two vectors is the sum of the multiplication of each pair of input values.

#Train the model using the training sets, fit your model on train set using fit()
clf.fit(X1_train, y1_train)

SVC()

In [152]:
y2_pred = clf.predict(X1_test)

In [153]:
y2_pred

array([0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1,
       0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1,
       1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1])

In [154]:
print("Accuracy:",metrics.accuracy_score(y1_test, y2_pred))

Accuracy: 0.875

In [155]:
from sklearn import metrics
cnf_matrix = metrics.confusion_matrix(y1_test, y2_pred)
print(cnf_matrix)

[[42 10]
 [ 0 28]]

# Guassian naive bayes

In [156]:
from sklearn.model_selection import train_test_split
X2_train, X2_test, y2_train, y2_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [157]:
# training the model on training set
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X2_train, y2_train)

GaussianNB()

In [158]:
y3_pred = gnb.predict(X2_test)
 
# comparing actual response values (y_test) with predicted response values (y_pred)
from sklearn import metrics
print("Gaussian Naive Bayes model accuracy(in %):", metrics.accuracy_score(y_test, y_pred)*100)

Gaussian Naive Bayes model accuracy(in %): 98.0

In [159]:
from sklearn import metrics
cnf_matrix = metrics.confusion_matrix(y2_test, y3_pred)
print(cnf_matrix)

[[45  2]
 [ 1 32]]

# Random Forest

In [160]:
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

# Split dataset into training set and test set
X3_train, X3_test, y3_train, y3_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [161]:
from sklearn.ensemble import RandomForestClassifier

In [134]:
model = RandomForestClassifier()

model = model.fit(X3_train,y3_train)

#Predict the response for test dataset
y4_pred = model.predict(X3_test)

In [135]:
print("Accuracy:",metrics.accuracy_score(y3_test, y4_pred))

Accuracy: 0.9666666666666667

# Stacking

In [136]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression

In [137]:
from sklearn.ensemble import StackingClassifier

In [138]:
dtc =  DecisionTreeClassifier()
rfc = RandomForestClassifier()
knn =  KNeighborsClassifier()
gnb = GaussianNB()
lr=LogisticRegression()

In [139]:
level0=[('knn', knn),('cart',dtc),('rfc', rfc), ('bayes', gnb)]

In [140]:
model = StackingClassifier(estimators=level0, final_estimator=LogisticRegression())

In [141]:
model.fit(X3_train,y3_train)

StackingClassifier(estimators=[('knn', KNeighborsClassifier()),
                               ('cart', DecisionTreeClassifier()),
                               ('rfc', RandomForestClassifier()),
                               ('bayes', GaussianNB())],
                   final_estimator=LogisticRegression())

In [142]:
ypred = model.predict(X3_test)

In [143]:
print("Accuracy:",metrics.accuracy_score(y3_test, y4_pred))

Accuracy: 0.9666666666666667